html, body {
  background-color: #444;
}

body {
  background-color: #f8f8f8;
  min-height: 100vh;
  padding: 1em;
  max-width: 72em;
  margin: 0 5px;
  padding: 1em 3em;
}

header {
  margin-bottom: 2em;
}

label {
  cursor: pointer;
  color: blue;
}

#toc-toggle {
  display: none;
}

#toc-toggle + ul {
  display: none;
}

#toc-toggle:checked + ul {
  display: block;
}

h1 {
  background: #DBEEFF;
}

h2 {
  font-size: 1.1em;
}

#the-two-lakes {
  display: block;
  width: 35em;
  max-width: 80%;
  margin: auto;
  margin-bottom: 1em;
}

footer {
  --pad: 1em;
  border-top: 1px solid black;
  padding-top: calc(1em + var(--pad));
  margin-top: var(--pad);
}

#birdlist {
  column-count: 1;
  list-style-type: none;
  padding: 0 4em;
}

@media screen and (min-width: 576px) {
  #birdlist {
    column-count: 2;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 4em;
  }
}

@media screen and (min-width: 992px) {
  #birdlist {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: auto;
  }
}
